.left_side {
    max-width: 690px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #272933;
}

.date {
    display: flex;
    align-items: center;
}

.arrow {
    margin: 0 13px;
    height: 2px;
    width: 12px;
    background: #8C8C8C;
}

.table {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    margin-top: 25px;
}

.header_table {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: #272933;
    padding-right: 25px;
}

.number_table {
    min-width: 56px;
    max-width: 56px;
}

.empty {
    min-width: 56px;
    max-width: 56px;
    margin-right: 25px;
}

.type_table {
    min-width: 260px;
    max-width: 260px;
}

.date_table {
    min-width: 116px;
    max-width: 116px;
}

.amount_table {
    width: 100%;
}

.table_items {
    margin-top: 5px;
    overflow-y: auto;
    height: calc(100% - 40px);
    padding-right: 15px;
}

.table_items::-webkit-scrollbar {
    width: 0.4em;
    height: 5px;
    border-radius: 20px;
}

.table_items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.table_items::-webkit-scrollbar-thumb {
    background-color: #67AC46;
    outline: 1px solid #67AC46;
    border-radius: 20px;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(39, 41, 51, 0.2);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
    height: 55px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s all;
    flex-direction: column;
    padding: 18px 0;
}

.active {
    height: 840px;
}

.item_first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*height: 55px;*/
}

.hidden_item {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    height: 100%;
}

.hidden_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.hidden_right {
    max-width: 200px;
    width: 100%;
    margin-top: 24px;
}

.component_box h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
}

.status {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
}

.status_answer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #67AC46;
}

.status_answer:first-letter {
    text-transform: uppercase;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
}

.item .type_table {
    font-weight: 500;
    transition: .3s all;
}

.item .amount_table {
    font-weight: 600;
}

.row .name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
    /*max-width: 288px;*/
    /*min-width: 288px;*/
}

.row .answer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
    /*max-width: 200px;*/
    /*min-width: 200px;*/
}

.item_first:hover .type_table {
    color: #67AC46;
}

.hidden_left_item {
    padding: 12px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(39, 41, 51, 0.2);;
}

.hidden_left_item_left, .hidden_left_item_right {
    width: 50%;
}

.hidden_left_item_left p, .hidden_left_item_right p {
    margin-top: 12px;
}

.hidden_left_item_last {
    border-bottom: none;
}

.quest {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
}

.answer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
}

.hidden_box {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #67AC46;
    /*margin-top: 12px;*/
}

.component_item {
    display: flex;
    align-items: center;
}

.switch_box {
    display: flex;
    align-items: center;
    width: 100%;
    /*justify-content: flex-end;*/
    margin-top: 10px;
}

.switch {
    display: flex;
    align-items: center;
}

.switch_box_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
    margin-left: 8px;
}

.herb_part {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
}

.herb_name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
    margin-left: 10px;
}

.component_item {
    margin-top: 8px;
}
