.formula_left {
    margin-top: 35px;
    overflow-y: auto;
    padding-right: 10px;
    height: calc(100% - 100px);
}

.formula_left::-webkit-scrollbar {
    width: 0.4em;
    border-radius: 20px;
}

.formula_left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.formula_left::-webkit-scrollbar-thumb {
    background-color: #67AC46;
    outline: 1px solid #67AC46;
    border-radius: 20px;
}

.drop_item {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
}

.drop_item svg {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.drop_item_remove {
    color: #E76B50;
}

.dots {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: fit-content;
    position: relative;
    height: 28px;
    user-select: none;
    margin-right: 20px;
}

.dots span {
    margin: 0;
    padding: 0;
    height: 5px;
    font-size: 25px;
    font-weight: 600;
    margin-top: -10px;
}

.formula {
    margin-top: 12px;
    cursor: pointer;
    /*display: flex;*/
    /*align-items: center;*/
    /*!*justify-content: space-between;*!*/
    /*flex-direction: column;*/
    /*padding: 16px;*/
    /*margin-top: 12px;*/
    /*background: #F8F8FC;*/
    /*box-shadow: 2px 2px 4px rgba(81, 88, 126, 0.12);*/
    /*border-radius: 12px;*/
    /*cursor: pointer;*/
    /*transition: 0.3s all;*/
    /*height: 70px;*/
    /*overflow: hidden;*/
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.formula_name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #272933;
}

.formula_note {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
    margin-top: 6px;
}

.selected {
    border: 2px solid #67AC46;
    border-radius: 15px;
}

/*.open_box {*/
/*    !*display: none;*!*/
/*    user-select: none;*/
/*    user-focus: none;*/
/*}*/

/*.selected .formula_name, .selected .formula_note {*/
/*    color: #fff;*/
/*}*/

/*.selected .menu .dots {*/
/*    color: #fff;*/
/*}*/

/*.test, .arrow {*/
/*    display: none;*/
/*}*/


@media screen and (max-width: 500px) {
    .formula_left {
        overflow-y: unset;
        padding-right: 0;
        margin-top: 20px;
    }

    .selected {
        border: none;
        border-radius: 15px;
    }

    .title_components {
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #272933;
        margin-top: 12px;
    }

    .component {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .component_part {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #272933;
    }

    .component_name {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #272933;
        margin-left: 10px;
    }

    .action {
        display: flex;
        align-items: center;
    }

    .arrow {
        margin-left: 10px;
        display: flex;
    }

    .arrow svg path {
        color: #272933;
        fill: #272933;
        height: 5px;
        width: 5px;
    }

    .arrow svg {
        color: #272933;
        fill: #272933;
        height: 15px;
        width: 15px;
    }

    .dots {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        cursor: pointer;
        width: fit-content;
        position: relative;
        height: 50px;
        /*border: .1px solid;*/
        padding: 0px 20px;
        padding-top: 10px;


    }

    .dots span {
        margin: 0;
        padding: 0;
        height: 3px;
        font-size: 29px;
        font-weight: 600;
        margin-top: -10px;
    }
}
