.logo {
    width: auto;
    height: 75px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}

.action {
    display: flex;
    align-items: center;
}

.join {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #67AC46;
    padding: 10px 24px;
    /*border: 1.5px solid #67AC46;*/
    border-radius: 60px;
    cursor: pointer;
    transition: .3s all;
    margin-left: 20px;
}

.join_2 {
    display: flex;
    align-items: center;
}

.join:hover {
    /*border: 1.5px solid rgba(103, 172, 70, 0.7);*/
    color: rgba(103, 172, 70, 0.7);
}

.back_main {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #67AC46;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s all;
}

.back_main svg {
    margin-left: 3px;
}

.back_main:hover {
    color: rgba(103, 172, 70, 0.7);
}

.back_main:hover svg path {
    fill: rgba(103, 172, 70, 0.7);
}

.mobile_v {
    display: none;
}

.desc_v {
    display: flex;
    align-items: center;
}

.helper_text {
    margin-left: 20px;
    cursor: pointer;
}

.helper_text svg {
    fill: #31b6e1;
    fill: #67AC46;
    height: 22px;
    width: 22px;
}

@media screen and (max-width: 1000px) {
    .header {
        padding: 10px;
        align-items: flex-start;
    }

    .helper_box{
        display: flex;
        align-items: center;
    }

    .helper_box .helper_text {
        margin-left: 0px;
        /*border: .1px solid red;*/
    }

    .join_2{
        /*border: .1px solid red;*/
        margin-right: 0px;
    }

    .desc_v {
        display: none;
    }

    .mobile_v {
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
    }

    .action {
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
    }

    .join {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        padding: 8px 20px;
        margin-left: 0;
    }

    .back_main {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin-left: 0;
        margin-top: 10px;
        white-space: nowrap;
    }

    .logo {
        width: auto;
        height: 60px;
    }
}
