.right_side {
    width: 100%;
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*margin-left: 40px;*/
    padding: 0 65px;
}

.text_balance, .balance {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
}

.balance {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #67AC46;
    margin-top: 3px;
}

.description_balance {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
    margin-top: 8px;
}

.detalis {
    margin-top: 40px;
}

.logo_added_box {
    margin-top: 40px;
}

.detalis_title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
}

.input_box {
    width: 100%;
    margin-top: 12px;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 15px;
    color: #272933;
    margin-left: 10px;

}

.input_box input {
    margin-top: 5px;
    border: 1px solid #D4D4D6;
    border-radius: 15px;
    height: 34px;
}

.input_box span input {
    /*margin-top: 5px;*/
    border: 1px solid #D4D4D6;
    border-radius: 15px;
    height: 32px;
    margin-top: -4px;
}

.input_box span {
    border-radius: 15px;
    height: 34px;
    margin-top: 5px;
}

.input_box input[disabled] {
    color: #8C8C8C !important;
}

.edit {
    margin-top: 13px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #67AC46;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .3s all;
}

.edit svg {
    margin-right: 8px;
}

.edit_dave {
    margin-left: 8px;
}

.added svg path {
    fill: #67AC46;
}

.logo_box img {
    width: 100%;
    height: auto;
    border: .1px solid;
    margin-top: 20px;
}

.btns_box {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
}

.added_btn, .remove_btn {
    width: 100%;
}

.remove_btn {
    margin-top: 10px;
    background-color: #fa2727;
    color: #fff;
    border: none;
    transition: .3s all;
}

.remove_btn:hover {
    color: #fff !important;
    background-color: rgba(250, 39, 39, 0.6);
}

.added_btn {
    background-color: #67AC46;
    color: #fff;
    border: none;
}

.added_btn:hover {
    color: #fff !important;
    background-color: rgba(103, 172, 70, 0.6);
}


@media screen and (max-width: 1000px) {
    .right_side {
        padding: 0;
    }
}
