.first_page {
    max-width: 280px;
    width: 100%;
}

.title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #272933;
}

.box {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #272933;
    margin-left: 10px;
}

.error_message {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #ff4d4f;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    bottom: 23px;
}

.error_message_name {
    bottom: -16px;
}

.box input {
    margin-top: 5px;
    border: 1px solid #D4D4D6;
    border-radius: 15px;
    height: 34px;
}

.text_area textarea {
    border-radius: 15px !important;
    height: 102px;
    margin-top: 4px;
}

.text_area {
    margin-top: 10px;
}

.presonal_info {
    margin-top: 40px;
}

.check {
    width: fit-content;
    /*height: 24px;*/
    padding: 8px 15px;
    background: #67AC46;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 12px;
    cursor: pointer;
    transition: .3s all;
    margin-left: 0;
}

.check:hover {
    background: rgba(103, 172, 70, 0.73);
}

.error {
    color: red;
}

.succes {
    color: green;
}

@media screen and (max-width: 1000px) {
    .first_page {
        max-width: 100%;
    }
}

